@model System.App.Entities.HCNS.UserTempShift

@{
    var user = ViewBag.User ?? new System.App.Entities.HCNS.HCNS_NhanVien() as System.App.Entities.HCNS.HCNS_NhanVien;
    var tungay = (DateTime)ViewBag.From;
    var denngay = (DateTime)ViewBag.To;
    var countdate = (denngay - tungay).TotalDays;

    var trung = ViewBag.RequestInfo as IEnumerable<System.App.Entities.HCNS.UserTempShift>;

}
<style type="text/css">
    .modal-lg { width: 800px; }
    .panel-heading { background: #3882B6; }
        .panel-heading h4 { font-size: 15px; margin: 0; color: #fff; }
            .panel-heading h4 i { margin-right: 5px; }
    .form input[type='text'], form select, form textarea { max-width: none; }
    .form .row { margin-left: -5px; margin-right: -5px; }
        .form .row [class*="col-md"] { padding-right: 5px; padding-left: 5px; }
    .form .infor-box { margin-bottom: 10px; }
        .form .infor-box .title-box { margin-top: 0; background: #e8e8e8; padding: 7px; font-weight: bold; }
    .eac-square input { background-image: url("~/images/icon_search.png"); background-repeat: no-repeat; background-position: right 10px center; }
    .ui-autocomplete { z-index: 9999; }
</style>
<div id='staticModal' class='modal fade'>
    <div class="modal-dialog">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h4><i class="fa fa-list"></i>Cập nhật ca làm việc</h4>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->

                @using (Html.BeginForm("Push_Add_KhaiBaoNhieuCa", "ChamCong", FormMethod.Post, new { enctype = "multipart/form-data", id = "modalForm" }))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=> x.Users, new { @Value= ViewBag.UserChosed })

                <div class="panel-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Ca khai báo</label>
                            <!-- danh sách ca -->
                            <div id="ddl-ca"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Danh sách ngày khai báo</label>
                            <div class="clearfix"></div>
                            <div style="width: 20%;" class="pull-left">
                                <label style="line-height:22px;"><input type="checkbox" id="mcheckAll" class="pull-left" style="margin-right: 5px;" /> Chọn tất cả</label>
                            </div>
                            <div class="clearfix"></div>
                            @for (int i = 0; i <= countdate; i++)
                                {
                            <div style="width: 20%;" class="pull-left">
                                <label style="line-height:22px;"><input type="checkbox" name="chk_date" value="@tungay.AddDays(i).ToString("yyyyMMdd")" class="pull-left" style="margin-right: 5px;"> @tungay.AddDays(i).ToString("dd/MM")</label>
                            </div>
                                }
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <input type="submit" value="Xác nhận" class="btn btn-primary btn-sm" id="btnSubmit" />
                    <input type="button" value="Đóng" class="btn btn-default btn-sm" data-dismiss="modal" />
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#ddl-ca").load("/hcns/chamcong/add_khaibaoca_dropdownlist?user=" + @user.UserEnrollNumber);

        $(document).on('click', '#mcheckAll', function () {
            $('input[name="chk_date"]').not(this).prop('checked', this.checked);
        });

        $("#UserFullName").focusout(function () {
            if ($(this).val() == "") {
                $("#modalForm #UserEnrollNumber").val("");
            }
        });
        $("#UserFullName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/hcns/nhanvien/GetUserAll",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(JSON.parse(data), function (item) {
                            var display = "[" + item.UserFullCode + "] " + item.UserFullName;
                            return { label: display, value: display, id: item.UserEnrollNumber, code: item.UserFullCode };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#modalForm #UserEnrollNumber").val(ui.item.id);
                $("#ddl-ca").load("/hcns/chamcong/add_khaibaoca_dropdownlist?user=" + ui.item.id);
                //$("#modalForm #UserFullName").val(ui.item.label);
                //$("#modalForm #UserFullCode").val(ui.item.code);
            }
        });
        $("#modalForm").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            var userEnroll = $("#modalForm #UserEnrollNumber").val();

            if (userEnroll == '' || userEnroll == 0) {
                $(this).callToast("error", '', 'Thông tin nhân viên không đúng, vui lòng chọn lại.');
                return false;
            }
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.result == true) {
                        $(this).callToast("success", '', 'Cập nhật thành công');
                        $("#btnSearch").focus().click();
                        $("#Confirmed").val(false);
                    }
                    else {
                        if (data.result == false && data.message != '') {
                            if (confirm(decodeURIComponent(data.message))) {
                                $("#Confirmed").val(true);
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    data: form.serialize(),
                                    success: function (data) {
                                        if (data.result == true) {
                                            $(this).callToast("success", '', 'Cập nhật thành công');
                                            //$("#nhanvien").val(userEnroll);
                                            $("#btnSearch").focus().click();
                                        } else {
                                            if (data.message == '') {
                                                $(this).callToast("error", '', "Đã có lỗi xảy ra trong quá trình truyền tải dữ liệu hoặc lịch đặt bị trùng.");
                                            } else {
                                                $(this).callToast("error", '', data.message);
                                            }

                                        }
                                        $("#Confirmed").val(false);
                                    }
                                });
                            }
                        } else {
                            $(this).callToast("error", '', "Đã có lỗi xảy ra trong quá trình truyền tải dữ liệu hoặc lịch đặt bị trùng.");
                        }
                    }
                }
            });

            e.preventDefault();
        });

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>