@model System.App.Entities.HCNS.CC_CheckInOut
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>
<style type="text/css">
    .modal-lg { width: 600px; }
    .panel-heading { background: #3882B6; }
        .panel-heading h4 { font-size: 15px; margin: 0; color: #fff; }
            .panel-heading h4 i { margin-right: 5px; }
    .panel-body { padding: 15px; max-height: 500px; overflow: auto; }
        .panel-body input, .panel-body select { max-width: inherit; }
        .panel-body .form-group { margin-bottom: 10px; }
        .panel-body .block > .title { background-color: #3882b6; padding: 5px 8px; color: #fff; font-size: 14px; }
        .panel-body textarea { max-width: 100%; }
    .form input[type='text'], form select, form textarea { max-width: none; }
    .form .row { margin-left: -5px; margin-right: -5px; }
        .form .row [class*="col-md"] { padding-right: 5px; padding-left: 5px; }
    .form .infor-box { margin-bottom: 10px; }
        .form .infor-box .title-box { margin-top: 0; background: #e8e8e8; padding: 7px; font-weight: bold; }
    .eac-square input { background-image: url("~/images/icon_search.png"); background-repeat: no-repeat; background-position: right 10px center; }
    .ui-autocomplete { z-index: 9999; }
    #load-day > div { float: left; width: 49px; margin-bottom: 5px; }
        #load-day > div > input[type='checkbox'] { float: left; margin: 1px 5px 0 0; }
    #staticModal .info { background-color: #e7f3fe; border-left: 6px solid #2196F3; padding: 8px; margin-bottom: 10px; }
        #staticModal .info p { margin-bottom: 0; font-size: 11px; color: #696969; }
</style>

<div id='staticModal' class='modal fade'>
    <div class="modal-dialog">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h4><i class="fa fa-list"></i>Thêm dữ liệu công</h4>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->

                @using (Html.BeginForm("Push_ThemDuLieuCong", "ChamCong", FormMethod.Post, new { enctype = "multipart/form-data", id = "modalForm" }))
                {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.UserEnrollNumber)
                @Html.HiddenFor(x => x.UserFullCode)
                @Html.HiddenFor(x => x.Source, new { @Value = "FP" })
                @Html.HiddenFor(x => x.MachineNo, new { @Value = "3" })
                @Html.HiddenFor(x => x.WorkCode, new { @Value = "0" })

                <div class="panel-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="TimeDate">Chọn nhân viên</label>
                                @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control", value = ("[" + Model.UserFullCode + "] " + Model.UserFullName), required = true } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Ngày</label>
                            @Html.TextBoxFor(x => x.TimeDate, new { @class = "form-control datepicker", autocomplete = "off", required = true })
                        </div>
                        <div class="col-md-6">
                            <label>Thời gian</label>
                            @Html.TextBoxFor(x => x.TimeStr, new { @class = "form-control time", @placeholder = "00:00:00", autocomplete = "off", required = true })
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <input type="submit" value="Xác nhận" class="btn btn-primary btn-sm" id="btnSubmit" />
                    <input type="button" value="Đóng" class="btn btn-default btn-sm" data-dismiss="modal" />
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.time').mask('00:00:00', { clearIfNotMatch: true });

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy', autoclose: false
        });

        $("#modalForm #UserFullName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/hcns/nhanvien/GetUserAll",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(JSON.parse(data), function (item) {
                            var display = "[" + item.UserFullCode + "] " + item.UserFullName;
                            return { label: display, value: display, id: item.UserEnrollNumber, code: item.UserFullCode };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#modalForm #UserEnrollNumber").val(ui.item.id);
                $("#modalForm #UserFullName").val(ui.item.label);
                $("#modalForm #UserFullCode").val(ui.item.code);

                $("#sUserEnrollNumber").val(ui.item.id);
                $("#sUserFullName").val(ui.item.label);
            }
        });
        $("#modalForm").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            var userEnroll = $("#modalForm #UserEnrollNumber").val();

            if (userEnroll == '') {
                $(this).callToast("error", '', 'Thông tin nhân viên không đúng, vui lòng chọn lại.');
                return false;
            }
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.result == true) {
                        $(this).callToast("success", '', 'Cập nhật thành công');
                        //ClearForm();
                        $("#sbtnSearch").focus().click();
                    }
                    else {
                        if (data.message == '') {
                            $(this).callToast("error", '', "Đã có lỗi xảy ra trong quá trình truyền tải dữ liệu hoặc lịch đặt bị trùng.");
                        } else {
                            $(this).callToast("error", '', data.message);
                        }

                    }
                }
            });
            e.preventDefault();
        });

        function ClearForm() {
            $("#modalForm").find("input[type=text], textarea").val("");
            $("#modalForm").find("#UserEnrollNumber").val("");
            $("#modalForm").find("#UserFullCode").val("");
        }
    });
</script>