<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>
@{
    ViewBag.Title = "Quản lý giải trình";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userAuth = ViewBag.UserAuth as string;
    var userInfo = ViewBag.UserInfo as System.App.Entities.HCNS.HCNS_NhanVien;
    var currentDate = DateTime.UtcNow.AddHours(7).ToString("yyyyMMdd");
    var limitDate = DateTime.UtcNow.AddHours(7).ToString("yyyyMM01");
    var sdate = ""; var edate = "";
    if (DateTime.UtcNow.AddHours(7).Month == 4 || DateTime.UtcNow.AddHours(7).Month == 6 || DateTime.UtcNow.AddHours(7).Month == 9 || DateTime.UtcNow.AddHours(7).Month == 11)
    {
        sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
        edate = DateTime.UtcNow.AddHours(7).ToString("30/MM/yyyy");
    }
    else if (DateTime.UtcNow.AddHours(7).Month == 1 || DateTime.UtcNow.AddHours(7).Month == 3 || DateTime.UtcNow.AddHours(7).Month == 5 || DateTime.UtcNow.AddHours(7).Month == 7 || DateTime.UtcNow.AddHours(7).Month == 8 || DateTime.UtcNow.AddHours(7).Month == 10 || DateTime.UtcNow.AddHours(7).Month == 12)
    {
        sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
        edate = DateTime.UtcNow.AddHours(7).ToString("31/MM/yyyy");
    }
    else
    {
        if (DateTime.UtcNow.AddHours(7).Year / 4 == 0)
        {
            sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
            edate = DateTime.UtcNow.AddHours(7).ToString("29/MM/yyyy");
        }
        else
        {
            sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
            edate = DateTime.UtcNow.AddHours(7).ToString("28/MM/yyyy");
        }
    }
}
<style>
    tr.expiring-soon td {
        background-color: #fff9d8 !important;
    }

    tr.expried td {
        background-color: #f1f1f1 !important;
    }

    .dataTables_wrapper > .row:first-child {
        display: none;
    }

    .dataTable thead th {
        background: #3882b6;
        color: #fff;
        padding: 10px 8px !important;
    }

    .dataTable tbody tr.pending {
        background: #fff3d2;
    }

    .dataTable tbody tr.selected td {
        background: #eee;
    }

    .dataTable tbody td p {
        margin-bottom: 5px;
    }

        .dataTable tbody td p:last-child {
            margin-bottom: 0;
        }

    .form-search .row {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: 10px;
    }

        .form-search .row [class*="col-md"] {
            padding-right: 5px;
            padding-left: 5px;
        }

    .form-search input, .form-search select {
        max-width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

        .flex-col.flex-fill {
            width: 100%;
        }

    .flex-right {
        margin-left: auto;
        width: 30%;
        padding-top: 68px;
    }

    .flex-left {
        flex-grow: 1;
        max-width: 100%;
        padding-right: 10px;
    }

    .chosen-container-single .chosen-single {
        height: 30px !important;
        line-height: 30px !important;
    }

    .form-search .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .form-search .col-md-1, .form-search .col-md-2, .form-search .col-md-3, .form-search .col-xs-1, .form-search .col-xs-2, .form-search .col-xs-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .title-bar {
        border-bottom: 1px solid #ccc;
    }

        .title-bar h4 {
            margin: 0;
        }

    .ui-autocomplete {
        z-index: 10;
    }

    #partialCont {
        position: relative;
    }
</style>
<div class="row title-bar">
    <div class="col-md-12">
        <h4>Danh sách giải trình</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-search">
            <div class="row">
                <div class="col-md-1 col-xs-2">
                    <label for="date_cc">Xem từ ngày</label>
                    <input type="text" id="sdate" class="form-control timepicker input-sm" value="@ViewBag.StartDate" autocomplete="off" readonly required />
                </div>
                <div class="col-md-1 col-xs-2">
                    <label for="date_cc">đến ngày</label>
                    <input type="text" id="edate" class="form-control timepicker input-sm" value="@ViewBag.EndDate" autocomplete="off" readonly required />
                </div>
                <div class="col-md-2 col-xs-2">
                    <label for="Fix">Loại đề xuất</label>
                    @Html.DropDownList("Fix", new List<SelectListItem>() {
                       new SelectListItem() { Value = "1", Text = "Thêm vào" },
                       new SelectListItem() { Value = "2", Text = "Thêm ra" },
                       new SelectListItem() { Value = "3", Text = "Thêm vào, ra" },
                       new SelectListItem() { Value = "4", Text = "Xóa vào, ra" }
                    }, "--- Chọn loại ---", new { @class = "form-control input-sm chosen-dll" })
                </div>
                <div class="col-md-2 col-xs-3">
                    <label>Khoa/Phòng</label>
                    @if (userAuth == "HCNS_Admin")
                    {
                        @Html.DropDownList("Department", new SelectList(ViewBag.KhoaPhong, "Key", "Value", userInfo.KhoaPhong), "-- Chọn tất cả --", new { @class = "form-control input-sm chosen-dll" })
                    }
                    else
                    {
                        @Html.DropDownList("Department", new SelectList(ViewBag.KhoaPhong, "Key", "Value", userInfo.KhoaPhong), new { @class = "form-control input-sm chosen-dll" })
                    }
                </div>
                <div class="col-md-2 col-xs-2">
                    <label for="UserFullName">Nhân viên</label>
                    <input type="text" id="UserFullName" name="UserFullName" class="form-control input-sm" value="" autocomplete="off" />
                </div>
                <div class="col-md-2 col-xs-3">
                    <label for="status">Trạng thái</label>
                    <select class="form-control input-sm chosen-dll" id="status" name="status">
                        <option value="-1" selected>-- Lựa chọn --</option>
                        <option value="0">Chưa xử lý</option>
                        @*<option value="-1">Quản lý không duyệt</option>
                            <option value="-2">HCNS không duyệt</option>*@
                        <option value="1" @*@(userAuth == "admin" ? "selected": "")*@>Quản lý đã duyệt</option>
                        <option value="2">HCNS đã duyệt</option>
                    </select>
                </div>
                <div class="col-md-2 col-xs-2">
                    <button type="button" id="btnSearch" class="btn btn-success btn-sm" style="margin-top: 22px;">Xem công</button>
                </div>
            </div>
        </div>
        <div id="partialCont"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".chosen-dll").chosen();

        function keypressHandler(e) {
            if (e.which == 13) {
                e.preventDefault(); //stops default action: submitting form
                $(this).blur();
                $('#btnSearch').focus().click();//give your submit an ID
            }
        }
        $("#UserFullName").focusout(function () {
            if ($(this).val() == "") {
                $("#UserEnrollNumber").val("");
            }
        });
        $('.form-search').keypress(keypressHandler);

        $('.timepicker').datepicker({ format: 'dd/mm/yyyy' });

        $("#partialCont").load("/hcns/chamcong/table_quanlygiaitrinh?auth=@(userAuth)&from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&fix=" + $("#Fix option:selected").val() + "&kp=" + $("#Department option:selected").val() + "&user=" + $("#UserFullName").val() + "&status=" + $("#status option:selected").val());

        $("#btnSearch").click(function () {
            $("#partialCont").load("/hcns/chamcong/table_quanlygiaitrinh?auth=@(userAuth)&from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&fix=" + $("#Fix option:selected").val() + "&kp=" + $("#Department option:selected").val() + "&user=" + $("#UserFullName").val() + "&status=" + $("#status option:selected").val());
        });

        //$("#UserFullName").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "/hcns/chamcong/getuser",
        //            type: "POST",
        //            dataType: "json",
        //            data: { prefix: request.term, user: $("#UserEnrollNumber").val()},
        //            success: function (data) {
        //                response($.map(JSON.parse(data), function (item) {
        //                    var display = "[" + item.UserFullCode + "] " + item.UserFullName;
        //                    return { label: display, value: display, id: item.UserEnrollNumber, code: item.UserFullCode };
        //                }))
        //            }
        //        })
        //    },
        //    select: function (event, ui) {
        //        $("#UserEnrollNumber").val(ui.item.id);
        //        $("#partialCont").load("/hcns/chamcong/table_xemcong?from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&p=" + $("#UserPermission").val() + "&user=" + ui.item.id);
        //    }
        //});
    });
</script>