<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>

@{
    ViewBag.Title = "Khai báo ca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.expiring-soon td { background-color: #fff9d8 !important; }
    tr.expried td { background-color: #f1f1f1 !important; }
    .dataTables_wrapper > .row:first-child { display: none; }
    .dataTable thead th { background: #3882b6; color: #fff; padding: 10px 8px !important; }
    .dataTable tbody tr.pending { background: #fff3d2; }
    .dataTable tbody tr.selected td { background: #eee; }
    .dataTable tbody td p { margin-bottom: 5px; }
        .dataTable tbody td p:last-child { margin-bottom: 0; }
    .form .row { margin-left: -5px; margin-right: -5px; margin-bottom: 10px; }
        .form .row [class*="col-md"] { padding-right: 5px; padding-left: 5px; }
    .form input { max-width: 100%; }
    .flex-row { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; width: 100%; }
    .flex-col { display: flex; flex-direction: column; flex-flow: column; flex-wrap: nowrap; justify-content: flex-start; }
        .flex-col.flex-fill { width: 100%; }
    .flex-right { margin-left: auto; width: 30%; padding-top: 68px; }
    .flex-left { flex-grow: 1; max-width: 100%; padding-right: 10px; }
    .chosen-container-single .chosen-single { height: 30px !important; line-height: 30px !important; }
    .form-search .row { margin-left: -5px; margin-right: -5px; }
    .form-search .col-md-1, .form-search .col-md-2, .form-search .col-md-3, .form-search .col-xs-1, .form-search .col-xs-2, .form-search .col-xs-3 { padding-left: 5px; padding-right: 5px; }
    .title-bar { border-bottom: 1px solid #ccc; }
        .title-bar h4 { margin: 0; }
    .ui-autocomplete { z-index: 10; }
</style>
<div class="row title-bar">
    <div class="col-md-12">
        <h4>Xem chi tiết công</h4>
    </div>
</div>
@{
    var userInfo = ViewBag.UserInfo as System.App.Entities.HCNS.HCNS_NhanVien;
    var permission = ViewBag.UserPermission as string;
    var currentDate = DateTime.UtcNow.AddHours(7).ToString("yyyyMMdd");
    var limitDate = DateTime.UtcNow.AddHours(7).ToString("yyyyMM01");
    var sdate = ""; var edate = "";
    if (DateTime.UtcNow.AddHours(7).Month == 4 || DateTime.UtcNow.AddHours(7).Month == 6 || DateTime.UtcNow.AddHours(7).Month == 9 || DateTime.UtcNow.AddHours(7).Month == 11)
    {
        sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
        edate = DateTime.UtcNow.AddHours(7).ToString("30/MM/yyyy");
    }
    else if (DateTime.UtcNow.AddHours(7).Month == 1 || DateTime.UtcNow.AddHours(7).Month == 3 || DateTime.UtcNow.AddHours(7).Month == 5 || DateTime.UtcNow.AddHours(7).Month == 7 || DateTime.UtcNow.AddHours(7).Month == 8 || DateTime.UtcNow.AddHours(7).Month == 10 || DateTime.UtcNow.AddHours(7).Month == 12)
    {
        sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
        edate = DateTime.UtcNow.AddHours(7).ToString("31/MM/yyyy");
    }
    else
    {
        if (DateTime.UtcNow.AddHours(7).Year / 4 == 0)
        {
            sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
            edate = DateTime.UtcNow.AddHours(7).ToString("29/MM/yyyy");
        }
        else
        {
            sdate = DateTime.UtcNow.AddHours(7).ToString("01/MM/yyyy");
            edate = DateTime.UtcNow.AddHours(7).ToString("28/MM/yyyy");
        }
    }
}

@Html.Hidden("UserPermission", permission)
@Html.Hidden("UserEnrollNumber", userInfo.UserEnrollNumber, new { @Value = userInfo.UserEnrollNumber })

<div class="row">
    <div class="col-md-12">
        <div class="form-search">
            <div class="row">
                <div class="col-md-2 col-xs-3">
                    <label for="date_cc">Xem từ ngày</label>
                    <input type="text" id="sdate" class="form-control timepicker input-sm" value="@ViewBag.StartDate" autocomplete="off" readonly required />
                </div>
                <div class="col-md-2 col-xs-3">
                    <label for="date_cc">đến ngày</label>
                    <input type="text" id="edate" class="form-control timepicker input-sm" value="@ViewBag.EndDate" autocomplete="off" readonly required />
                </div>
                @*@if (permission.Contains("manager") || permission.Contains("admin"))
        {
        <div class="col-md-2 col-xs-3">
            <label for="date_cc">Nhân viên</label>
            <input type="text" id="UserFullName" class="form-control input-sm" value="" autocomplete="off" required />
        </div>
        }*@
                <div class="col-md-2 col-xs-3">
                    <label for="date_cc">Nhân viên</label>
                    <input type="text" id="UserFullName" class="form-control input-sm" value="" autocomplete="off" required />
                </div>
                <div class="col-md-2 col-xs-2">
                    <button type="button" id="btnSearch" class="btn btn-primary btn-sm" style="margin-top: 22px;">Xem công</button>
                    <button type="button" id="btnExport" class="btn btn-info btn-sm" style="margin-top: 22px;">Xuất Excel</button>
                </div>
            </div>
        </div>
        <div id="partialCont"></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        function keypressHandler(e) {
            if (e.which == 13) {
                e.preventDefault(); //stops default action: submitting form
                $(this).blur();
                $('#btnSearch').focus().click();//give your submit an ID
            }
        }
        $("#UserFullName").focusout(function () {
            if ($(this).val() == "") {
                $("#UserEnrollNumber").val("");
            }
        });
        $('.form-search').keypress(keypressHandler);

        $('.timepicker').datepicker({ format: 'dd/mm/yyyy' });

        $("#partialCont").load("/hcns/chamcong/table_xemcong?from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&user=" + @userInfo.UserEnrollNumber+ "&kp=0");

        $("#btnSearch").click(function () {
            var _from = $("#sdate").val();
            var _to = $("#edate").val();

            var startDate = new Date(formatDate(_from));
            var endDate = new Date(formatDate(_to));
            var songay = (endDate - startDate) / 1000 / 60 / 60 / 24;

            if (songay >= 32) {
                $(this).callToast("error", 'Cảnh báo', "Không được chọn khoảng tìm kiếm quá 32 ngày.");
                return;
            }

            $("#partialCont").load("/hcns/chamcong/table_xemcong?from=" + _from + "&to=" + _to + "&p=" + $("#UserPermission").val() + "&user=" + $("#UserEnrollNumber").val());
        });

        $("#btnExport").click(function (e) {
            var url = "/hcns/chamcong/ExportXemCong?from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&user=" + $("#UserEnrollNumber").val();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data, status) {
                    window.location = url;
                }
            });
            e.preventDefault();
        });

        $("#UserFullName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/hcns/chamcong/getuser",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term, user: @userInfo.UserEnrollNumber, kp: $("#UserPermission").val() == "HCNS_Admin" ? 0 : @userInfo.KhoaPhong},
                    success: function (data) {
                        var startDate = new Date(formatDate($("#sdate").val()));
                        var endDate = new Date(formatDate($("#edate").val()));
                        var songay = (endDate - startDate) / 1000 / 60 / 60 / 24;

                        if (songay >= 32) {
                            $(this).callToast("error", 'Cảnh báo', "Không được chọn khoảng tìm kiếm quá 32 ngày.");
                            return;
                        }

                        response($.map(JSON.parse(data), function (item) {
                            var display = "[" + item.UserFullCode + "] " + item.UserFullName;
                            return { label: display, value: display, id: item.UserEnrollNumber, code: item.UserFullCode };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#UserEnrollNumber").val(ui.item.id);
                $("#partialCont").load("/hcns/chamcong/table_xemcong?from=" + $("#sdate").val() + "&to=" + $("#edate").val() + "&p=" + $("#UserPermission").val() + "&user=" + ui.item.id);
            }
        });

        function formatDate(str) {
            var d = str.split("/")[0];
            var m = str.split("/")[1];
            var y = str.split("/")[2];
            var date = m + "/" + d + "/" + y

            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('/');
        }
    });
</script>