@model System.App.Entities.DanhMuc_ThietBi

<div id='staticModal' class='modal fade'>
    <div class="modal-dialog" style="width: 760px;">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h5><i class="fa fa-list"></i> Sửa danh mục Thiết bị</h5>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->
                <div class="panel-body form">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Mã thiết bị</label>
                            @Html.TextBox("upd_tb_machineid", Model.MachineID, new { @class = "form-control input-sm", @readonly = true })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Tên thiết bị</label>
                            @Html.TextBox("upd_tb_devicename", Model.DeviceName, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Địa chỉ IP</label>
                            @Html.TextBox("upd_tb_ipaddress", Model.IPAddress, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Cổng kết nối</label>
                            @Html.TextBox("upd_tb_port", Model.Port, new { @class = "form-control input-sm" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Chấm ăn</label>
                            @if (Model.IsChamAn == "1")
                            {
                                @Html.DropDownList("upd_tb_ischaman", new List<SelectListItem>() {
                                    new SelectListItem() { Value = "0", Text = "Không" },
                                    new SelectListItem() { Value = "1", Text = "Có", Selected = true }
                                }, new { @class = "form-control chosen-ddl input-sm" })}
                            else
                            {
                                @Html.DropDownList("upd_tb_ischaman", new List<SelectListItem>() {
                                    new SelectListItem() { Value = "0", Text = "Không", Selected = true },
                                    new SelectListItem() { Value = "1", Text = "Có" }
                                }, new { @class = "form-control chosen-ddl input-sm" })
                            }
                        </div>
                        <div class="form-group col-md-3">
                            <label>Cổng socket</label>
                            @Html.TextBox("upd_tb_portsocket", Model.PortSocket, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Địa chỉ IP máy in</label>
                            @Html.TextBox("upd_tb_tenmayin", Model.TenMayIn, new { @class = "form-control input-sm" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Trạng thái</label>
                            @if (Model.AreaID == "1")
                            {
                                @Html.DropDownList("upd_tb_areaid", new List<SelectListItem>() {
                                    new SelectListItem() { Value = "0", Text = "Không hoạt động" },
                                    new SelectListItem() { Value = "1", Text = "Hoạt động", Selected = true }
                                }, new { @class = "form-control chosen-ddl input-sm" })}
                            else
                            {
                                @Html.DropDownList("upd_tb_areaid", new List<SelectListItem>() {
                                    new SelectListItem() { Value = "0", Text = "Không hoạt động", Selected = true },
                                    new SelectListItem() { Value = "1", Text = "Hoạt động" }
                                }, new { @class = "form-control chosen-ddl input-sm" })
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-sm btn-primary" id="upd_tb_btnUpdate">Sửa</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".chosen-ddl").chosen();

        $("#upd_tb_btnUpdate").click(function (e) {
            var _MachineID = $("#upd_tb_machineid").val();
            var _DeviceName = $("#upd_tb_devicename").val();
            var _IPAddress = $("#upd_tb_ipaddress").val();
            var _Port = $("#upd_tb_port").val();
            var _IsChamAn = $("select[name='upd_tb_ischaman'] option:selected").val();
            var _PortSocket = $("#upd_tb_portsocket").val();
            var _TenMayIn = $("#upd_tb_tenmayin").val();
            var _AreaID = $("select[name='upd_tb_areaid'] option:selected").val();

            var obj = {
                "MachineID": _MachineID,
                "DeviceName": _DeviceName,
                "IPAddress": _IPAddress,
                "Port": _Port,
                "IsChamAn": _IsChamAn,
                "PortSocket": _PortSocket,
                "TenMayIn": _TenMayIn,
                "AreaID": _AreaID,
            };
            $.ajax({
                url: '@Url.Action("Edit_ThietBi", "DanhMuc")',
                type: 'POST',
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(obj)
            }).success(function (data) {
                if (data.result == true) {
                    $(this).callToast("success", 'Sửa thành công.', data.message);
                    $(".btnCloseModal").focus().click();
                    Load_Data();
                } else {
                    $(this).callToast("error", 'Có lỗi trong quá trình thực hiện', data.message);
                }
            });
            e.preventDefault();
        });
    });
</script>