@model System.App.Entities.DanhMuc_Config
<div id='staticModal' class='modal fade'>
    <div class="modal-dialog" style="width: 760px;">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                <div class="panel-heading">
                    <h5><i class="fa fa-list"></i> Thêm mới danh mục Config</h5>
                    <a href="javascript:;" data-dismiss="modal" class="btnCloseModal"><i class="fa fa-close"></i></a>
                </div><!-- ./panel-heading -->
                <div class="panel-body form">
                    <div class="form-row">
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label>Tên loại cấu hình</label>
                                @Html.TextBox("upd_config_ten", Model.Parameter, new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>Mã cấu hình</label>
                                @Html.TextBox("upd_config_ma", Model.ParameterID, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Giá trị ký tự</label>
                                @Html.TextBox("upd_config_stringval", Model.StringVal, new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group col-md-4">
                                <label>Giá trị số</label>
                                @Html.TextBox("upd_config_numberval", Model.NumberVal, new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group col-md-4">
                                <label>Giá trị ngày</label>
                                @Html.TextBox("upd_config_datetimeval", Model.DatetimeVal, new { @class = "form-control input-sm datepicker" })
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-sm btn-primary" id="upd_config_btnUpdate">Sửa</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".chosen-ddl").chosen();

        $("#upd_config_btnUpdate").click(function (e) {
            var _Parameter = $("#upd_config_ten").val();
            var _ParameterID = $("#upd_config_ma").val();
            var _StringVal = $("#upd_config_stringval").val();
            var _NumberVal = $("#upd_config_numberval").val();
            var _DatetimeVal = $("#upd_config_datetimeval").val();

            var obj = {
                "ID": '@Model.ID',
                "Parameter": _Parameter,
                "ParameterID": _ParameterID,
                "StringVal": _StringVal,
                "NumberVal": _NumberVal,
                "DatetimeVal": _DatetimeVal,
            };
            $.ajax({
                url: '@Url.Action("Edit_Config", "DanhMuc")',
                type: 'POST',
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(obj)
            }).success(function (data) {
                if (data.result == true) {
                    $(this).callToast("success", 'Sửa thành công.', data.message);
                    $(".btnCloseModal").focus().click();
                    Load_Data();
                } else {
                    $(this).callToast("error", 'Mã cấu hình đã tồn tại', data.message);
                }
            });
            e.preventDefault();
        });
    });
</script>