@model System.App.Entities.HCNS.Absent
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>

<style type="text/css">
    .modal-lg { width: 800px; }
    .panel-heading { background: #3882B6; }
        .panel-heading h4 { font-size: 15px; margin: 0; color: #fff; }
            .panel-heading h4 i { margin-right: 5px; }
    .panel-body { padding: 15px; max-height: 500px; overflow: auto; }
        .panel-body input, .panel-body select { max-width: inherit; }
        .panel-body .form-group { margin-bottom: 10px; }
        .panel-body .block > .title { background-color: #3882b6; padding: 5px 8px; color: #fff; font-size: 14px; }
        .panel-body textarea { max-width: 100%; }
    .form input[type='text'], form select, form textarea { max-width: none; }
    .form .row { margin-left: -5px; margin-right: -5px; }
        .form .row [class*="col-md"] { padding-right: 5px; padding-left: 5px; }
    .form .infor-box { margin-bottom: 10px; }
        .form .infor-box .title-box { margin-top: 0; background: #e8e8e8; padding: 7px; font-weight: bold; }
    .eac-square input { background-image: url("~/images/icon_search.png"); background-repeat: no-repeat; background-position: right 10px center; }
    .ui-autocomplete { z-index: 9999; }
</style>
<div id='staticModal' class='modal fade'>
    <div class="modal-dialog">
        <div id='staticModalContainer'>
            <div class="model-panel panel">
                @using (Html.BeginForm("Push_KhaiBaoVang", "NhanVien", FormMethod.Post, new { enctype = "multipart/form-data", id = "modalForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="UserEnrollNumber" id="UserEnrollNumber" value="@Model.UserEnrollNumber" />
                    @*<input type="hidden" name="oldDate" id="oldDate" value="@Model.TimeDate" />*@
                    @Html.HiddenFor(x=> x.TimeDate)
                    <input type="hidden" name="process" id="process" value="update" />

                    <div class="panel-heading">
                        <h4><i class="fa fa-list"></i>Khai báo thông tin vắng</h4>
                    </div><!-- ./panel-heading -->

                    <div class="panel-body form">
                        @if (ViewBag.Locked == 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="TimeDate">Chọn nhân viên</label>
                                        @Html.EditorFor(model => model.UserFullName, new { htmlAttributes = new { @class = "form-control input-sm", value = ("[" + Model.UserFullCode + "] " + Model.UserFullName), @readonly = true } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="AbsentCode">Lý do</label>
                                        @Html.DropDownListFor(x => x.AbsentCode, new SelectList(ViewBag.DS_AbsentSymbol, "Key", "Value", Model.AbsentCode), new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Lydo">Ghi chú</label>
                                        @Html.TextAreaFor(x => x.Lydo, new { @class = "form-control", autocomplete = "off", value = Model.Lydo })
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p style="color:#ff0000; font-size: 18px; margin-bottom: 0; padding: 10px;">@(ViewBag.LockMessage)</p>
                        }

                    </div>

                    <div class="panel-footer">
                        <div class="form-inline">
                            @if (ViewBag.Locked == 0)
                            {
                                <div class="form-group"><input type="submit" value="Cập nhật" class="btn btn-primary" id="btnSubmit" /></div>
                            }
                            <div class="form-group"><input type="button" class="btn btn-default" data-dismiss="modal" value="Đóng" /></div>
                        </div>
                    </div><!-- ./panel-footer -->
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#UserFullName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/hcns/nhanvien/GetUser",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(JSON.parse(data), function (item) {
                            var display = "[" + item.UserFullCode + "] " + item.UserFullName;
                            return { label: display, value: display, id: item.UserEnrollNumber };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                $("#modalForm #UserEnrollNumber").val(ui.item.id);
                $("#modalForm #UserFullName").val(ui.item.label);
            }
        });

        $("#modalForm").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.result == true) {
                        $(this).callToast("success", '', 'Cập nhật thành công');
                        //setTimeout(location.reload.bind(location), 2000);
                        $("#info").val($("#UserEnrollNumber").val());
                        $("#btnSearch").focus().click();
                    }
                    else {
                        $(this).callToast("error", '', "Đã có lỗi xảy ra trong quá trình truyền tải dữ liệu hoặc lịch đặt bị trùng.");
                    }
                }
            });

            e.preventDefault();
        });
        $('.chonngay').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
</script>