<style type="text/css">
    #sknv_table_wrapper .row:first-child { display: none; }
    #sknv_table_wrapper .sorting,
    #sknv_table_wrapper .sorting:after,
    #sknv_table_wrapper .sorting:before { padding-right: 5px !important; content: ''; }
</style>
<table class="table table-bordered table-condensed" id="sknv_table">
    <thead>
        <tr>
            <th class="text-center" width="30">STT</th>
            <th>Mã NV</th>
            <th>Họ tên</th>
            <th>Khoa/Phòng</th>
            <th class="text-center" width="80">Năm 2017</th>
            <th class="text-center" width="80">Năm 2018</th>
            <th class="text-center" width="80">Năm 2019</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model as IEnumerable<System.App.Entities.HCNS.PLSK>)
        {
        <tr>
            <td>@o.STT</td>
            <td>@o.MaNV</td>
            <td>@o.HoTen</td>
            <td>@o.KhoaPhong</td>
            <td>@(o.N2017 == 0 ? "" : String.Format("Loại {0}", o.N2017))</td>
            <td>@(o.N2018 == 0 ? "" : String.Format("Loại {0}", o.N2018))</td>
            <td>@(o.N2019 == 0 ? "" : String.Format("Loại {0}", o.N2019))</td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $('#sknv_table').callDataTableCustomSearchPage('vi', '', '#sknv_filter', 15);
    });
</script>